
body {
    margin-top: 100px;
}
.imgActu {
    margin-top: 20px;
    padding-left: 0;
    margin-left: -10px;
}
.textActu {
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 12px;
    text-align: justify;
    text-justify: inter-word;
}
.test {
    vertical-align: middle;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.height-500 {
    height: 400px;
}
.titleActu {
     text-align: left;
     border-bottom: 4px solid #99B93A;
 }
.zoneActu {
    padding: 45px 10px 0 25px;
    border-bottom: 1px solid grey;
    overflow: hidden;
}
.hiddenbar {
    border-bottom: hidden;
}
.button {
    background-color: #99B93A;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    margin: auto;
    border-radius: 10px;
    height: 31px;
    width: 18%;
    min-width: 100px;
}
.buttonActu {
    position: absolute;
    margin: auto;
    bottom: 0;
    background-color: white;
    height: 80px;
    padding-top: 20px;
}
.marginContainer {
    margin-bottom: 100px;
}