#engImg {
    background-image: url("../images/engagement.jpg");
    height: 431px;
    width:100%;
    background-size: cover;
}

body {
    text-align: justify;
}
.bloc-text-eng {
    height: 219px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 25px;
    float: right;
    top: 92px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.90);
    color: #ffffff;
    font-size: 1.3em;
    margin-right: 50px;
}

.engBox {
    margin-top: 5%;
}

.engBox img {
    display: block;
    margin: auto;
}

.engBox p {
    width: 70%;
    display: block;
    margin: auto;
}

.sudText {
    height: 278px;
}
.sudEst p {
    display: block;
    margin: auto;
}

.sudEst img {
    display: block;
    margin: auto;
}