#footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 280px;
    background-color: #010101;
}
.container .text-muted {
    margin: 20px 0;
}
.footertext {
    font-size: 19px;
    color: white;
    margin-top: 5px;
}
.mentions{
    margin-top: 0;
    color: white;
    font-size: 18px;
}