h1 a{
    font-size: 40px;
    color: rgb(148,191,41);
}
.header-height{
    height: 80px;
}
.padding-fixed{
    padding-top: 0px;
    margin-top: -2px;
}
.hamburger{
    margin-top: 20px;
    height: 40px;
}
.button-contact{
    display: inline;
    margin-left: 15px;
    margin-top: 34px;
}
.wave{
    margin-left: -15px;
    top: 60px;
    width: 150px;
}
.nav-inline{
    display: inline;
}
.navbar-default .navbar-nav > li > a{
    font-size: 20px;
    background-color: black;
    font-weight: normal;
    color: white;
}
.navbar-default .navbar-nav > li > a.actu{ /*bouton actu vert*/
    font-size: 20px;
    background-color: black;
    font-weight: normal;
    color: white;
}
.navbar-default .navbar-nav > li > a.actu:hover{ /*bouton actu vert*/
    text-decoration: underline;
    color: rgb(28,36,78);
    background-color: rgb(239,239,239);
}
.no-padding{
    padding: 0;
    margin: 0;
}