/*page logiciels*/
.titleLogs{
    margin-bottom: 30px;
    font-size: 30px;
}
.titleSage{
    font-size: 40px;
}
.titleComp{
    font-size: 40px;
}

.no-padding{
    padding: 0;
    margin: 0;
}

/* ajustemeent du formulaire */
.form-group{ /* css pour l'espace qui englobe tout le formulaire */
    margin-left: 10px;
    width: 300px;

}
#com{
    width: 300px;
}

.imgDev{
    height: 200px;
}
