/*on fait descendre le bouton contact en mini format*/
.menu-fixed{
    display: inline;
}
/*on fait disparaitre la vague*/
.wave{
    display: none;
}
/* ajustemeent du formulaire */
.form-group{ /* css pour l'espace qui englobe tout le formulaire */
    margin-left: 10px;
    width: 150px;

}
#com{
    width: 150px;
}
