.greyBox {
font-size: 15px;
}
#homeimg {
    background-image: url("../images/comptabilité1.jpg");
    height: 431px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#title {
    color: #96bd2a;
    font-size: 1.9em;
}
.titleSociety {
    color: dimgrey;
    text-align: center;
}
.firstImg {
    height: 250px;
}
.firstText {
    color: black;
    font-size: 20px;
    text-align: justify;
}
.society {
    color: black;
    font-size: 20px;
}
.firstRow {
    padding-top: 50px;
}
.marginInter {
    padding-top: 20px;
}
.carrousel {
    height: 600px;
    width: 100%;
    background-color: #edeeef;

}
@media all and (max-width: 989px){
        .firstImg {
            display: none;
        }
        .firstText {
            color: black;
            font-size: 20px;
            text-align: justify;

        }
}
@media all and (min-width: 989px) and (max-width: 1202px){
        .querySociety{
            text-align: center;
        }
        .firstImg {
            display: none;
        }
    .firstText {
        color: black;
        font-size: 20px;
        text-align: justify;
        width: 100%;

    }
}