{% extends 'neoxiBase.html.twig' %}
{% block body %}
    <div class="container-fluid globalContainer" > <!-- home page image and text bloc -->
        <div class="row">
            <div class="col-xs-12 topImg" style="background-image: url('images/logiciels.jpg');">
                <div class="col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-6 cadre">
                    <h2 class="h2">LOGICIELS RÉFÉRENCÉS</h2>
                    <p class="p2">Gamme Ligne 100 i7 de l’éditeur Sage. <br/>
                        Produits de l’Editeur Arcadie informatique. <br/>
                        Développements spécifiques.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row block1">
                <h1 class="h1 col-xs-offset-1">LES GAMMES DE LOGICIELS</h1>
                <div>
                    <div class="col-xs-11 col-xs-offset-1 col-md-5 col-md-offset-1">
                        <a class="logiciels-sage" href="https://www.sage.fr" target="_blank">SAGE</a>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <p class="breakTopMd justify">
                            SAGE ( site sage.fr ) Avec plus de 600 000 clients en France, Sage fait office de leader sur
                            le marché des programmes généralistes auprès des PME.
                            Avec sa gamme 100 i7 nouvelle génération, Sage propose une gamme complète de
                            modules adaptés à chaque fonction de l’entreprise.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row block1">
                <div class="col-xs-11 col-xs-offset-1 col-md-5 col-md-offset-1">
                    <a class="logiciels-comp" href="http://www.compagnons-arcadie.com/" target="_blank">LES<br/> COMPAGNONS</a>
                </div>
                <div class="col-xs-12 col-md-5">
                    <p class="breakTopMd justify">
                        Les Editions Compagnons ( site www.compagnons-arcadie.com )
                        Cet éditeur propose un catalogue d’outils compagnons aux produits Sage et permettant de
                        résoudre certaines difficultés techniques propres avec des logiciels comme
                        Listes de Recherches interface intégrée aux produits Sage et disposant d’un niveau
                        très élevé de recherches et de rangements des informations.
                        Traitement automatique des Impressions pour l’envoi automatique de mails suivant les
                        documents traités, stockage de PDF.<br/>
                        Outil de maintenance pour renommer des codes articles avec historiques, changer les
                        modes de suivi des stocks même avec historiques.
                    </p>
                </div>
            </div>
            <div class="row block1">
                <div class="col-xs-11 col-xs-offset-1 col-md-5 col-md-offset-1">
                    <div class="logiciels-comp margDevLogiciel">DÉVELOPPEMENT <br/>SPECIFIQUES</div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <p class="breakTopMd justify margLogiciel">
                        De par notre expérience terrain et les produits que nous implantons, nous pouvons vous
                        proposer des outils personnalisés sur différents thèmes comme par exemple les
                        calculs de commissions représentants périodiques avec calculs complexes.<br/>
                        Propositions de ré-approvisionnements auto portant sur des périodes de ventes, de rotation
                        etc.<br/><br/>
                        Mise en place de tableau de bord comptables de consolidation ou analytique.<br/>
                        Interfaces avec vos sites internet avec aller/retour articles/Clients/commandes/PDF avec
                        vos douchettes logistiques, etc.<br/>
                        Les spécifiques sont notre vraie valeur ajoutée faisant ressortir toute notre compétence sur
                        les logiciels Sage et notre expérience terrain.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock%}