{% extends 'neoxiBase.html.twig' %}
{% block body %}
<div class="container-fluid esp globalContainer">
    <div class="row">
        <div class="col-sm-12">
            <h1 id="bloctxt">MENTIONS LÉGALES</h1>
        </div>
    </div>
</div>
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12 col-xs-12 mention">
            <h3>Société éditrice du site</h3>
            <p>Ce site web est la propriété de NEOXI</p>
            <p>S.A.S. NEOXI <br>
                Greenopolis <br>
                31, rue Saint Simon <br>
                69009 Lyon <br>
            </p>
            <p> Siret : 510379225 00020 <br>
                Code NAF : 6202 A <br>
                Conseil en systèmes et logiciels informatiques <br>
                Capital social : 40 000,00 €
            </p>
            <p>Représentant légal : J-L. GALVAGNON</p>

            <h3>Sites mentionnés</h3>
            <p>Sage, SAS<br>
                Le Colisée II,<br>
                10 rue Fructidor<br>
                75834 Paris cedex 17<br>
                Tél : 0810 30 30 30</p>
            <p>Microsoft en France<br>
                39 quai du Président Roosevelt<br>
                92130 Issy-les-Moulineaux<br>
                Tél.: 09 70 01 90 90
            </p>
            <p>Les Editions COMPAGNONS</br>

            37 Rue Paule Raymondis</br>

            31200 Toulouse</br>

            Tél. : 05 61 26 71 64</br>
            </p>
            <h3>Photos</h3></br>
            <p>
                Toutes les photos provenant de Pexels sont sous la licence </br>
                "the Creative Commons Zero (CC0) license".
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 mention">
            <h3>Hébergeur du site</h3>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}