{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid globalContainer" > <!-- home page image and text bloc -->
    <div class="row">
        <div class="col-xs-12 topImg" style="background-image: url{{ asset ('images/engagement.jpg')}};">
            <div class="col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-6 cadre">
                <h2 class="h2">NOS ENGAGEMENTS</h2>
                <p class="p2">Neoxi met à disposition ses ressources pour que vous puissiez
                    les intégrer dans vos plannings opérationnels.
                </p>
            </div>
        </div>
    </div>
    <div class="row block1">
        <h1 class="col-xs-offset-1 h1">NOS ENGAGEMENTS</h1>
        <div class="col-xs-12 col-md-6">
            <img class="displayBlock" src="{{ asset ('images/diagram.png')}}" alt="diagramme" title="engagements neoxi">
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0">
            <p class="displayBlock p-engagements">
                De part sa nature, Neoxi n'est pas un concurrent
                mais apporteur de ressources complémentaires en terme d'effectif
                et apporteur de compétences que vous ne désirez pas acquérir.
                <br/><br/><br/>
                Neoxi s'engage à respecter la plus stricte confidentialité sur les informations fournies
                par les donneurs d'ordres et sur les sites sur lesquels elle intervient.
                <br/><br/><br/>
                Comme cela s'est plusieurs fois produit, Neoxi dans le cadre de ses interventions peut
                être force de proposition auprès de vos clients, en matière de nouvelles options,
                de nouveaux logiciels complémentaires ou de nouvelles plateformes.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid globalContainer">
    <div class="row block2">
        <h1 class="col-xs-12 h1">LE SUD-EST : zone principale d'intervention</h1>
        <p class="col-xs-12 col-md-6 p-engagements">
            Nos consultants ont pour mission de se comporter comme de vrais consultants maison
            de votre société, avec remontées des informations commerciales et techniques pertinentes
            pour votre suivi client.
            La volonté de la société est de créer avec les donneurs d'ordres un vrai partenariat récurrent.
            <br/><br/><br/>
            Nos consultants ont pour mission de se comporter comme de vrais consultants maison de votre
            société, avec remontées des informations commerciales et techniques pertinentes pour votre suivi client.
        </p>
        <div class="col-xs-12 col-md-6 breakTopMd center">
            <img src="{{ asset ('images/compta.png')}}" alt="comptabilité" title="engagements neoxi">
        </div>
    </div>
</div>
</div>
{% endblock %}