{% extends 'neoxiBase.html.twig' %}
{% block body %}
<div class="container-fluid globalContainer">
    <div class="row">
        <div class="col-xs-12 topImg" style="background-image: url('images/imgexp.jpg');">
            <div class="col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-6 cadre">
                <h2 class="h2">NOTRE EXPERTISE</h2>
                <p class="p2">Double formation, Gestion et Informatique de nos consultants,
                    associée à 50 ans cumulés d’une forte expérience terrain.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid globalContainer break">
    <div class="col-xs-10 col-xs-offset-1">
        <h1 class="h1">NOTRE EXPERTISE</h1>
        <div class="row block1">
            <div class="col-xs-12 center">
                <img src="{{ asset ('images/logoExpertEnt.png')}}" alt="logo expertise entreprise">
                <p><strong>AVANT VENTE</strong></p>
            </div>
            <div class="xol-xs-12 center break">
                <p class="p4">Soutien technico-commercial lors de présentation de logiciels en clientèle.
                    Réalisation d'audit, d'analyse et de cahier des charges avant une phase de déploiement.
                    Accompagnement expérimenté pour vos équipes sur des dossiers délicats et complexes.
                </p>
            </div>
            <div class="col-xs-12 center">
                <img src="{{ ('images/logoExpertTier.png')}}" alt="logo expertise tier payant">
                <p><strong>DEPLOIEMENT</strong></p>
            </div>
            <div class="col-xs-12 center break">
                <p class="p4">
                    Installation originale et/ou migration de sites avec des solutions nécessitant apport technique et fonctionnel.
                    Formation et aide au démarrage des utilisateurs.
                    Simple accompagnement ou renforcement de vos équipes sur des sites complexes en terme de volumes ou utilisateurs à traiter.
                    Intervention ponctuelle pour résolution de problèmes hors de vos compétences.
                </p>
            </div>
            <div class="col-xs-12 center">
                <img src="{{ ('images/logoExpertCom.png')}}" alt="logo expertise com">
                <p><strong>RENFORCEMENT INTERNE</strong></p>
            </div>
            <div class="col-xs-12 center break">
                <p class="p4">
                    Assistance téléphonique/télé-maintenance après prestations auprès de vos clients.
                    Simple renforcement de vos équipes Hotline pour certaines périodes critiques.
                    Travail collaboratif technique ou commercial lors du montage de vos solutions sur vos projets.
                </p>
            </div>
            <div class="col-xs-12 center">
                <img src="{{ asset ('images/logoExpertInnov.png')}}" alt="logo expertise innovation">
                <p><strong>EN COMPLÉMENT</strong></p>
            </div>
            <div class="col-xs-12 center break">
                <p class="p4">
                    Cet accompagnement peut être ponctuel ou récurrent.
                    Sachez que nos consultants ont travaillé avec différents éditeurs (Solys-Logidis, MatchEurosoft, Saari, Sybel, Ciel ),
                    ce qui leur procure en plus de leur expérience terrain un recul certain par rapport aux problématiques rencontrés.
                    Ils sauront vous conseiller dans votre intérêt et celui de votre client sur la solution la mieux adaptée.
                    Nous intervenons toujours dans le cadre prédéfini par le donneur d'ordre et restons en permanence dans les prérogatives données.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}