{% extends 'neoxiBase.html.twig' %}
{% block body %}
<div class="container-fluid globalContainer">
    <div class="row">
        <div class="col-xs-12 topImg" style="background-image: url('images/imgexp.jpg');">
            <div class="col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-6 cadre">
                <h2 class="h2">NOTRE EXPERTISE</h2>
                <p class="p2">Double formation Gestion et Informatique de nos consultants <br/>
                    Associée à 50 ans cumulés d’une forte expérience terrain.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid globalContainer break">
    <h1 class="col-xs-offset-1 h1">NOTRE EXPERTISE</h1>
    <div class="row block1">
        <div class="col-lg-offset-1 col-lg-2 center">
            <img src="{{ asset ('images/logoExpertEnt.png')}}" alt="logo expertise entreprise">
            <p>AVANT VENTE</p>
        </div>
        <div class="col-lg-2 break">
            <p class="p4 justify">Soutien technico-commercial lors de présentation de logiciels en clientèle.<br/>
                Réalisation d'audit, d'analyse et de cahier des charges avant une phase de déploiement.<br/>
                Accompagnement expérimenté pour vos équipes sur des dossiers délicats et complexes.
            </p>
        </div>
        <div class="col-lg-offset-1 col-lg-2 center">
            <img src="{{ ('images/logoExpertTier.png')}}" alt="logo expertise tier payant">
            <p>DEPLOIEMENT</p>
        </div>
        <div class="col-lg-2 break">
            <p class="p4 justify">
                Installation originale et/ou migration de sites avec des solutions nécessitant apport technique et fonctionnel.<br/>
                Formation et aide au démarrage des utilisateurs.<br/>
                Simple accompagnement ou renforcement de vos équipes sur des sites complexes en terme de volumes ou utilisateurs à traiter.<br/>
                Intervention ponctuelle pour résolution de problèmes hors de vos compétences.
            </p>
        </div>
        <div class="col-lg-offset-1 col-lg-2 center">
            <img src="{{ ('images/logoExpertCom.png')}}" alt="logo expertise com">
            <p>RENFORCEMENT INTERNE</p>
        </div>
        <div class="col-lg-2 break">
            <p class="p4 justify">
                Assistance téléphonique / télé maintenance après prestations auprès de vos clients<br/>
                Simple renforcement de vos équipes Hotline pour certaines périodes critiques<br/>
                Travail collaboratif technique ou commercial lors du montage de vos solutions sur vos projets
            </p>
        </div>
        <div class="col-lg-offset-1 col-lg-2 center">
            <img src="{{ asset ('images/logoExpertInnov.png')}}" alt="logo expertise innovation">
            <p>EN COMPLÉMENT</p>
        </div>
        <div class="col-lg-2 break">
            <p class="p4 justify">
                Cet accompagnement peut être ponctuel ou récurrent.
                Sachez que nos consultants ont travaillé avec différents éditeurs (Solys-Logidis, MatchEurosoft, Saari, Sybel, Ciel ), <br/>
                ce qui leur procure en plus de leur expérience terrain un recul certain par rapport aux problématiques rencontrés. <br/>
                Ils sauront vous conseiller dans votre intérêt et celui de votre client sur la solution la mieux adaptée. <br/>
                Nous intervenons toujours dans le cadre prédéfini par le donneur d'ordre et restons en permanence dans les prérogatives données.
            </p>
        </div>
    </div>
</div>
{% endblock %}