{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid globalContainer break" > <!-- home page image and text bloc -->
        <div class="row">
            <div class="col-xs-12 topImg" style="background-image: url{{ asset ('images/comptabilité1.jpg')}};">
                <div class="col-sm-5 col-sm-offset-3 col-lg-5 col-lg-offset-6 cadre">
                    <h2 class="h2">NEOXI</h2>
                    <p class="p2">Neoxi a été créée pour les revendeurs de logiciels de gestion,
                        partenaire commercial et technique fiable.
                    </p>
                </div>
            </div>
        </div>
        <div class="row block1 block-padding break">
            <h1 class="col-xs-offset-1 h1"> NOTRE HISTOIRE </h1>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-md-offset-1">
                    <p class="p4 justify">Co-fondateur d'un Centre de Compétence Sage PME-MGE reconnu en
                        région lyonnaise et ayant une parfaite connaissance du réseau de
                        distribution des logiciels de gestion, Jean-Luc Galvagnon, consultant
                        fonctionnel depuis 1988, créa la Société Neoxi.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-md-offset-2 center">
                    <img src="{{ asset ('images/icone-fondator.png')}}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-1 center">
                <img src="{{ asset ('images/icone-outils.png')}}">
            </div>
            <div class="col-sm-12 col-md-4 col-md-offset-2">
                <p class="p4 justify"> L'idée directrice de cette création est de proposer des ressources
                    humaines compétentes, de proximité et surtout expérimentées aux
                    différents revendeurs informatiques, ceci sur des applications
                    précises et en restant d'une taille permettant d'être réactifs.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid globalContainer">
        <div class="row block2">
            <h1 class="h1">TRAVAILLER AVEC NOUS</h1>
            <div class="row">
                <div class="showOnXs">
                    <div class="carousselSmall">
                        <h3>Clients</h3>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                        felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                        semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend ac, enim. Aliquam lorem
                    </div>
                    <div class="carousselSmall">
                        <h3>Partenariat</h3>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                        felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                        semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend ac, enim. Aliquam lorem
                    </div>
                    <div class="carousselSmall margin-b-car">
                        <h3>Méthodes</h3>
                        <br/>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                        felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                        semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                        consequat vitae, eleifend ac, enim. Aliquam lorem
                    </div>
                </div>
                <div class="caroussel col-xs-12 hideOnXs">
                    <div id="caroussel"  class="carousselBox" onmouseover="stop();" onmouseleave="play();">
                        <div class="carousselDiv">
                            <h3>Clients</h3>
                            <br/>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                            et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                            quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                            semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                            consequat vitae, eleifend ac, enim. Aliquam lorem
                        </div>
                        <div class="carousselDiv">
                            <h3>Partenariat</h3>
                            <br/>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                            et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                            quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                            semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                            consequat vitae, eleifend ac, enim. Aliquam lorem
                        </div>
                        <div class="carousselDiv">
                            <h3>Méthodes</h3>
                            <br/>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
                            et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                            quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                            In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                            semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                            consequat vitae, eleifend ac, enim. Aliquam lorem
                        </div>
                        <span class="buttonPrev" onclick="prevText();"><</span>
                        <span class="buttonNext" onclick="nextText();">></span>
                    </div>
                    <div id="titlesCaroussel" class="titlesCaroussel">
                        <div style="color: black" class="col-xs-4 boutonCarroussel" onclick="selectText(0);">CLIENTS</div>
                        <div class="col-xs-4 boutonCarroussel borderBoutons" onclick="selectText(1);">PARTENARIAT</div>
                        <div class="col-xs-4 boutonCarroussel" onclick="selectText(2);">MÉTHODES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}