.titleActu {
     text-align: left;
     border-bottom: 4px solid #99B93A;
 }
.zoneActu {
    padding: 45px 10px 0 25px;
    margin-left: 40px; margin-right: 40px;
    overflow: hidden;
}
.border-actu{
    border-bottom: 1px solid #7f8483;
    margin-top: 20px;
}
.button {
    background-color: #c4d896;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: auto;
    border-radius: 20px;
    height: 35px;
    width: 128px;
    min-width: 100px;
    margin-bottom: 4px;
}
.button:hover{
    color: white;
}
.buttonActu{
    position: absolute;
    margin: auto;
    float: bottom;
    right: 0;
    background-color: white;
    padding-left: 40px;
    padding-top: 8px;
    margin-top: -45px;
    height: 50px;
}
.marginContainer {
    margin-bottom: 100px;
}

/**/
.imgFloat{
    float: left; width: 50%;
    padding: 10px;
}
.marginActu{
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
    height: 22vw;
}