body {
    font-family: 'Raleway', sans-serif;
}

.header-back {
    background-color: rgb(239,239,239);
    border-bottom: 1px solid rgb(148,191,41);
    height: 80px;
    border-radius: 0;
    text-align: center;
}
.back-off {
    float: right;
    color: #FFFFFF;
    background-color: #010101;
    border-radius: 5px;
}

h1 {
    text-align: center;
    padding:30px 0 0 0;
    font-size:25px;
    margin:0;
}
input[type="text"],input[type="password"]{
    width:98%;
    padding:15px 0px 15px 8px;
    border-radius:5px;
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.2);
@include disable;
    border:1px solid rgba(0,0,0,1);
    margin-bottom:10px;
    color: #000000;
}

button[type="submit"]{
    width:100%;
    padding:15px;
    border-radius:5px;
@include disable;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
    background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
    font-size:14px;
    color:#FFF;
    text-shadow: rgba(141, 141, 141, 0.39) 0px 1px 5px;
    border:1px solid #8d8d8d;
    -webkit-box-shadow: 0 8px 6px -6px rgba(141, 141, 141, 0.7);
    -moz-box-shadow: 0 8px 6px -6px rgba(141, 141, 141, 0.7);
    box-shadow: 0 8px 6px -6px rgba(141, 141, 141, 0.7);
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

.log {
    margin-top: 300px;
    min-height:100px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-align: left;
}

.btn-submitlog{ /* css bloc bouton login */
    height: 50px;
    font-weight: bold;
    background-color: #D2D2D2;
    color: #4E98B3;
    border-radius: 0px;
    margin-top: 10px;
}
.formlogtxt{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #529BAC;
    margin-top: 25px;
}
.formlog{
    height: 20px;
    border-radius: 1px;
    font-weight: bold;
    background-color: #D2D2D2;
    color: #4E98B3;
    border-radius: 0px;
    margin-top: 10px;
}
.formlog:focus{ /* css pour les blocs de formulaire */
    box-shadow: none;
    border: 1px solid #4E98B3;
}