.hideOnMd{
    display: none !important;
}
/*correction spécifique pour le header (pour le hamburger en format md)*/
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

/* ajustemeent du formulaire */
.form-group{ /* css pour l'espace qui englobe tout le formulaire */
    margin-left: 10px;
    width: 400px;

}
#com{
    width: 400px;
}

.btn-submit{ /* css bloc bouton */
    margin-right: 0;
}

#fctxt{ /* css pour le text du bloc formulaire de contact */
    margin-left: 30px;
}
.collapse.in {
    display: block;
}
.collapse {
    display: none;
}
.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
    margin-right: 0;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
}
.float-right{
    float: left;
    width: 100%;
    text-align: center;
}

/*taille et position du hamburger*/
.hamburger{
    margin-top: 20px;
    height: 40px;
}
/*bouton contact aparent (en dehors du hamburger) en format mobile*/
.button-contact{
    display: inline;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 30px;
}

/*modification du comportement de la navbar en format mobile*/
.nav-inline{
    display: inline;
}
/*modification des couleurs et de la taille des liens de la navbar (menu déplié du hamburger)*/
.navbar-default .navbar-nav > li > a{
    font-size: 20px;
    background-color: black;
    font-weight: normal;
    color: white;
}
/*modification des couleurs et de la taille des liens de la navbar (menu déplié du hamburger)*/
/*necessaire pour que les modifications soient prisent en compte egalement sur le bouton actu*/
.navbar-default .navbar-nav > li > a.actu{
    font-size: 20px;
    background-color: black;
    font-weight: normal;
    color: white;
}
/*modification du :hover pour le bouton actu*/
.navbar-default .navbar-nav > li > a.actu:hover{
    text-decoration: underline;
    color: rgb(28,36,78);
    background-color: rgb(239,239,239);
}
/*on supprime le padding et la marge inclue dans bootstrap*/
.no-padding{
    padding: 0;
    margin: 0;
}
/*//////*/
/*carroussel*/
.boutonCarroussel{
    font-size: 20px;
    padding-top: 0;
}
.titlesCaroussel{
    position: absolute;
    height: 50px;
}
.titleCar{
    margin-bottom: 60px;
}
.breakTopMd{
    margin-top: 60px;
}
/*actualitées*/
.imgFloat{
    float: none; width: 100%;
    padding: 0;
}
.buttonActu{
    position: absolute;
    margin: auto;
    float: bottom;
    left: 0;
    width: 100%;
    background-color: white;
    padding-left: 40px;
    padding-top: 8px;
    margin-left: 90px;
    margin-top: -45px;
    height: 50px;
}
.marginActu{
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
    height: 80vw;
}


/*Page société: position icone*/

.story-img {
    margin-top: 2%;
}

.img-soc{
    padding-top: 0;
    height: 250px;
}
.header-height{
    height: 80px;
}
.globalContainer{
    margin-top: 80px;
}
#logoColors{
    margin-left: -35px;
    margin-top: 20px;
    width: 110px;
}
