/*page logiciels*/
.titleLogs{
    margin-bottom: 30px;
    font-size: 30px;
}
.titleSage{
    font-size: 40px;
}
.titleComp{
    font-size: 40px;
}
.logiciels-comp{
    font-size: 30px;
}

.no-padding{
    padding: 0;
    margin: 0;
}

/* ajustemeent du formulaire */
.form-group{ /* css pour l'espace qui englobe tout le formulaire */
    margin-left: 10px;
    width: 300px;
}
#com{
    width: 300px;
}
/*//////*/
/*index*/
.imgDev{
    height: 200px;
}
.bloc-texte{
    font-size: 16px;
    height: 150px;
    width: 350px;
}
#home-button {
    display: none;
}
.last-news-bloc {
    height: 10px;
}

.h1 {
    text-align: center;
    margin-left: 0;
}
h1#last-news {
    font-size: 2.5em;
    margin: 0 auto;
    margin-top: 30px;
}
.news {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sudEst p {
    top: 0;
}

.sud {
    margin-bottom: 30px;
}

.sudImg {
    width: 80%;
}
.hideOnXs{
    display: none;
}
.showOnXs{
    display: inline;
}
/*caroussel*/
.carousselSmall{
    margin-left: 40px;
    width: 80%;
}
.margin-b-car{
    padding-bottom: 100px;
}

/*cadre*/
.cadre{
    width: 100%;
    top: 20%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.90);
}
/* hide the "en savoir plus" button in mobile size */
#hide-button {
    display: none;
}

.h2{
    color: #96bd2a;
    font-size: 45px;
}

/*Page société: position icone*/

.story-img {
    margin-top: 2%;
}

.img-soc{
    padding-top: 0;
    height: 250px;
}

#logoColors {
    width: 180px;
}

/* Adjusting actu page elements */

.titleActu {
    margin-top: 80px;
    text-align: center;
}

.zoneActu {
    padding: 40px 10px 28px 10px;
    margin-left: 0;
    margin-right: 0;
}

/* Adjusting actu title size on mobile */

.titleNews {
    font-size: 21px;
}

/*titre du cadre*/
.h2{
    font-size: 38px;
}

/*texte du cadre*/
.p2{
    font-size: 17px;
    margin-top: auto;
}

/*Adjusting cadre size for each page */
.home {
    height: 128px;
}

.society {
    height: 158px;
}

.engag {
    height: 138px;
}

.expert {
    height: 177px;
}

#infocoor {
    width: 300px;
    margin-top: 10px;
    font-size: larger;
}

