h1 a{
    font-size: 40px;
    color: rgb(148,191,41);
}
.button-contact{
    margin-left: 43px !important;
}
/* ajustemeent du formulaire */
.form-group{ /* css pour l'espace qui englobe tout le formulaire */
    margin-left: 10px;
    width: 150px;
}
#com{
    width: 150px;
}

.h1 {
    text-align: center;
    margin-left: 0;
}

/* Adjusting actu title size on mobile */

.titleNews {
    font-size: 18px;
}

/*Adjusting cadre size for each page */
.expert {
    height: 210px;
}
.engag {
    height: 165px;
}
