h1 a{
    font-size: 40px;
    color: rgb(148,191,41);
}
.button-contact{
    margin-left: 43px !important;
}
/* ajustemeent du formulaire */
.form-group{ /* css pour l'espace qui englobe tout le formulaire */
    margin-left: 10px;
    width: 150px;
}
#com{
    width: 150px;
}

.logiciels-comp{
    font-size: 20px;
}